@tailwind base;
@tailwind components;
@tailwind utilities;



/* .header{
    background-color: coral;
padding: 10px;

}
.footer{
    background-color: blue;
padding: 20px;
position: absolute;
bottom: 0;
width: 100%;
color: white;
text-align: center;
} */